@font-face {
  font-family: 'Figtree-SemiBold';
  src: url(../../assets/fonts/static/Figtree-SemiBold.ttf);
}

@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url(../../assets/fonts/static/Figtree-ExtraBold.ttf);
}

#backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4d04e;
}

#card {
  width: 350px;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 10px 10px black;
  cursor: pointer;
}

#card:hover {
  box-shadow: 20px 20px black;
  h1 {
    color:#f4d04e;
  }
}

#fm-image-container {
  flex: 1;
  background-image: url("./images/illustration-article.svg");
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#info {
  flex: 1;
  padding-top: 1.5rem;
}

#tag {
  font-family: 'Figtree-ExtraBold';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  background-color: #f4d04e;
  font-size: 14px;
  border-radius: 5px;
}

#publish-date {
  font-family: 'Figtree-SemiBold';
  font-size: 16px;
}

h1 {
  font-family: 'Figtree-ExtraBold';
  margin: 10px 0;
  font-size: 25px;
}

#description {
  font-family: 'Figtree-SemiBold';
  color: hsl(0, 0%, 50%);
  font-size: 16px;
  margin: 15px 0;
}

#footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: auto;
}

#avatar {
  width: 30px;
  height: 30px;
}

#author {
  font-family: 'Figtree-ExtraBold';
  font-size: 16px;
}

@media screen and (max-width: 425px) {
  #card {
    width: 275px;
  }

  h1 {
    font-size: 20px;
  }
  
}